<form class="example-form" [formGroup]="userDetailsForm">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="userDetailsForm.get('email')?.hasError('required') && firstError === 'email'">
            Email is Required!
        </mat-error>
        <mat-error *ngIf="userDetailsForm.get('email')?.hasError('pattern')">
            Email must be a valid email address!
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="userDetailsForm.invalid" (click)="getUserDetails()">
        Search
    </button>
</form>


<div *ngIf="isUserDetails == true">
    <h3 class="main-title"> User Details</h3>
    <p>Firstname: {{userDetails.FirstName}}</p>
    <p>Lastname: {{userDetails.LastName}}</p>
    <p>UId: {{userDetails.UID}}</p>
    <p *ngIf="isSubscribedUser == true">Current Plan: {{subscribedUser[0].Plan_id}}</p>
    <p>Account Created on: {{userDetails.CreatedDate | date:'yyyy-MM-dd' }}</p>
    </div>

<div *ngIf="isSubscribedUser == true">

    <div class="container px-0">
        <h3 class="main-title">Transaction History</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}  </td>
    </ng-container>



        <ng-container matColumnDef="Transaction Id">
            <th mat-header-cell *matHeaderCellDef> Transaction Id </th>
            <td mat-cell *matCellDef="let element"> {{element.Subscription_id}} </td>
        </ng-container>


        <ng-container matColumnDef="Start at">
            <th mat-header-cell *matHeaderCellDef> Start at </th>
            <td mat-cell *matCellDef="let element"> {{element.Start_at | date:'yyyy-MM-dd' }} </td>
            <!-- HH:mm:ss -->
        </ng-container>
        <ng-container matColumnDef="Expire at">
            <th mat-header-cell *matHeaderCellDef> Expire at </th>
            <td mat-cell *matCellDef="let element"> {{element.Expire_at | date:'yyyy-MM-dd' }} </td>
        </ng-container>

        <ng-container matColumnDef="Payment Mode">
            <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
            <td mat-cell *matCellDef="let element"> {{element.Event_Name}} </td>
          </ng-container>

          <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef> Currency </th>
            <td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
          </ng-container>

        <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="userDetails(row)"></tr>
    </table>
    </div>
</div>

<div *ngIf="isUserDetails == true">
    
    <div class="container px-0">
        <h3 class="main-title" *ngIf="isUserDetails && !isSubscribedUser">Activate Subscription</h3>
        <h3 class="main-title" *ngIf="isUserDetails && isSubscribedUser">Renew Subscription</h3>
    <!-- HH:mm:ss -->
    <form [formGroup]="paymentForm">
        <mat-form-field>
            <mat-label>Enter Subscription Id</mat-label>
            <input matInput formControlName="subscriptionId">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Plan</mat-label>
            <mat-select formControlName="selectedPlan">
                <mat-option *ngFor="let plan of plans" [value]="plan.value">{{plan.label}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-sm-12">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div style="width:100%;padding:5%;">
                        <mat-form-field style="width:100%;">
                            <mat-label>Start at</mat-label>
                            <input matInput [matDatepicker]="startDate" (dateChange)="calculateEndDate()"
                                style="width:100%" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width:100%;padding:5%;">
                        <mat-form-field style="width:100%;">
                            <mat-label>Expire at</mat-label>
                            <input matInput [matDatepicker]="stopDate" [min]="minDate" style="width:100%"
                                formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="stopDate"></mat-datepicker-toggle>
                            <mat-datepicker #stopDate color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <mat-form-field>
            <mat-label>Enter Payment Mode</mat-label>
            <input matInput formControlName="paymentMode">

        </mat-form-field>


        <mat-form-field>
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="currency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.code">{{currency.text}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Amount</mat-label>
            <input matInput formControlName="amount">

        </mat-form-field>


        <button mat-raised-button color="primary" [disabled]="paymentForm.invalid" (click)="activateAccount()"
            *ngIf="isUserDetails && !isSubscribedUser">
            Activate Account
        </button>
        <button mat-raised-button color="primary" [disabled]="paymentForm.invalid" (click)="renewAccount()"
            *ngIf="isSubscribedUser && isUserDetails">
            Renew Account
        </button>
    </form>
    </div>
</div>
