<!-- 
<input type="text" placeholder="Search with email" pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
    [(ngModel)]="userEmail" #email="ngModel" required>
<button (click)="getUserDetails(userEmail)" [disabled]="!userEmail">Search</button>

<ng-container *ngIf="isUserDetails">
    userDetails
</ng-container> -->



<form class="example-form" [formGroup]="userDetailsForm">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="userDetailsForm.get('email')?.hasError('required') && firstError === 'email'">
            Email is Required!
        </mat-error>
        <mat-error *ngIf="userDetailsForm.get('email')?.hasError('pattern')">
            Email must be a valid email address!
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="userDetailsForm.invalid" (click)="getUserDetails()">
        Search
    </button>
</form>




<div *ngIf="isSubscribedUser == true">
    <div class="container px-0">
        <h3 class="main-title">Transaction History</h3>
            <div class="row">
                <div class="card shadow-sm col-md-3 col-4" *ngFor="let user of subscribedUser; let i = index" >
                    <!-- <img [src]="p.image" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h6 class="card-title">Account Created on: {{user.Created_at | date:'yyyy-MM-dd HH:mm:ss' }}
                        </h6>
                        <h6 class="card-title">Subscription Id
                            : {{user.Subscription_id
                            }}</h6>
                        <!-- <h6 class="card-title">Status: {{user.Status}}</h6> -->
                        <h6 class="card-title">Start at: {{user.Start_at}}</h6>
                        <h6 class="card-title">Expire at: {{user.Expire_at}}</h6>
                        <!-- <h6 class="card-title">UId: {{user.UID}}</h6> -->
                        <p *ngIf="user.Plan_id == 1">Plan: 1 Month</p>
                        <p *ngIf="user.Plan_id == 2">Plan: 3 Months</p>
                        <p *ngIf="user.Plan_id == 3">Plan: 6 Months</p>
                        <p *ngIf="user.Plan_id == 4">Plan: 1 Year</p>

                    </div>
                </div>
            </div>
    </div>

    <!-- <button mat-raised-button color="primary" (click)="renewAccount()" *ngIf="isSubscribedUser == true">
        Renew Account
    </button> -->
</div>

<div *ngIf="isUserDetails == true">
    <h3 class="main-title"> User Details</h3>
    <p>Firstname: {{userDetails.FirstName}}</p>
    <p>Lastname: {{userDetails.LastName}}</p>
    <p>UId: {{userDetails.UID}}</p>
    <p>Account Created on: {{userDetails.CreatedDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    <form [formGroup]="paymentForm">
        <!-- <input matInput placeholder="Enter User Id" > -->
        <!-- <input matInput placeholder="Enter Status - Paid/Unpaid" > -->
        <mat-form-field>
            <mat-label>Enter Subscription Id</mat-label>
            <input matInput formControlName="subscriptionId">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Plan</mat-label>
            <mat-select formControlName="selectedPlan">
                <!-- @for (food of foods; track food) { -->
                <mat-option *ngFor="let plan of plans" [value]="plan.value">{{plan.label}}</mat-option>

                <!-- } -->
            </mat-select>
        </mat-form-field>
        <div class="col-sm-12">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div style="width:100%;padding:5%;">
                        <mat-form-field style="width:100%;">
                            <mat-label>Start at</mat-label>
                            <input matInput [matDatepicker]="startDate" (dateChange)="calculateEndDate()"
                                style="width:100%" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width:100%;padding:5%;">
                        <mat-form-field style="width:100%;">
                            <mat-label>Expire at</mat-label>
                            <input matInput [matDatepicker]="stopDate" [min]="minDate" style="width:100%"
                                formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="stopDate"></mat-datepicker-toggle>
                            <mat-datepicker #stopDate color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <mat-form-field>
            <mat-label>Enter Payment Mode</mat-label>
            <input matInput formControlName="paymentMode">

        </mat-form-field>


        <mat-form-field>
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="currency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.code">{{currency.text}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Amount</mat-label>
            <input matInput formControlName="amount">

        </mat-form-field>


        <button mat-raised-button color="primary" [disabled]="paymentForm.invalid" (click)="activateAccount()" *ngIf="isUserDetails && !isSubscribedUser">
            Activate Account
        </button>
        <button mat-raised-button color="primary" [disabled]="paymentForm.invalid"  (click)="renewAccount()" *ngIf="isSubscribedUser && isUserDetails">
            Renew Account
        </button>
    </form>
</div>
